//Colors
$background-color: #9CD001;
$white-color: #fff;
$black: #000;
$header-color: #0048FD;
$background-tasks-color: #FFAE00;
$button-color: #0048FD;
$button-hover: #0D3EBB;
$background-modal: #FF0000;
$background-modal-add: #FEDC20;
$modal-button-hover: #72950A;


//Fonts-size
$clock: 1.563rem;
$task-desc: 1.125rem;
$button: 1.25rem;
$modal-button: 0.75rem;
$modal-title: 1.25rem;
